body {
    font-family:sans-serif;
    padding:0;
    margin:0;
}
#header {
    width: 100%;
    height: 30px;
    background-color: #EEEEEE;
    padding:5px;
}
#logo {
    float: left;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 150%;
}
#buttonContainer {
    width:233px;
    text-align: center;
    margin: 0 auto;
}
.toggleButton {
    float: left;
    border: 1px solid grey;
    padding: 4px;
    border-right:none;
    font-size: 90%;  
}
#output {
    border-right: 1px solid grey;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
#html {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.active {
    background-color: lightblue;
}
.highlightedButton {
    background-color: lightgrey;
}
textarea{
    resize:none;
    border-top: none;
    border-color: grey;
}
.panel {
    width: 50%;
    float: left;
    border-left: none;
}
iframe {
    border:none;
    padding: 3px;
}
.hidden{
    display: none;
}